.BarLeft {
	
}
.BarLeft > h6 {
	padding-top: 1rem;
	padding-left: 2.5rem; 
}
.BarLeft > h4{
	padding-left: 7rem; 

}
.BarLeft > h5 {
	margin-left: 3.2rem
}
.BarLeft > p {
	padding-top: 1.2rem;
	padding-left: 2.5rem; 
}
.BarLeft > h6 > i {
	padding-top: .5rem;
}
