.Content {
	background-color: #aaaaaa1f;
}


.Title {
   font-size: 1rem;
   margin-left: .55rem;
   margin-top: .55rem;
}
.Title > a > h5 {
    display: inline-block;
    margin-left: 1rem;
	
}

.CardBody > Button {
   width: 12rem;
   height: 2.4rem;
}
.CardBody > Button:active {
   background-color: #6c757d;
}
.Avata {
	height: 3rem;
	width: 3rem;
	border-radius: 2rem;
}